@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


body{
    margin: 0;
}
ul{
    padding-left: 15px;
}
li{
    text-decoration: none;
    list-style: none;
}
input[type=text], input[type=email]{
    border-radius: 28px;
    height: 30px;
    text-indent: 15px;
}
/* TOGGLE THEME CLASSES */
.link-light, .link-dark{
    text-decoration: none;
}
.theme-light, .link-light{
    background-color: var(--third-color);
    color: var(--dark-blue-color);
}
.theme-dark, .link-dark{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}