@import './variables.css';


.product-list-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 270px; 
    border-radius: 10px;
}
.product-list-card-themelight{
    background-color: rgb(226, 226, 236);
    color: var(--dark-blue-color);
    border: 3px solid var(--dark-medium-color);
}
.product-list-card-themedark{
    background-color: var(--dark-hover-bg);
    color: var(--third-color);
    border: 3px solid var(--third-color);
}

.product-card-img{
    width: 100%;
    height: 15em;
    object-fit: contain; 
}
.product-card-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
.light-product-card-price, .dark-product-card-price{
    width: 90%;
    text-align: left;
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.light-product-card-price{
    color: var(--first-blue-color);
}
.dark-product-card-price{
    color: var(--third-color);
}

/* BUTTONS */
.light-product-card-button, .dark-product-card-button{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.15em;
    border: solid 2px ;
}
.light-product-card-button{
    background-color: var(--dark-medium-color);
    color: var(--third-color);
    border-color: var(--dark-blue-color);
}
.dark-product-card-button{
    border-color: var(--dark-medium-color);
}
.light-product-card-button:hover{
    background-color: var(--light-hover-bg);
    color: var(--dark-blue-color);
}
.dark-product-card-button:hover{
    background-color: var(--light-hover-bg);
}
.editAdminIcons{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 10px;
    img{
        width: 38px;
    }
    img:hover{
        cursor: pointer;
    }
}